@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 16px;
    --clr-1: #312E81;
    --clr-2: #A5B4FC;
    --clr-3: #F5F3FF;
    --clr-4: #84CC16;
    --fwt-1: 400;
    --fwt-2: 500;
    --fs-1: 2rem;
    --fs-2: 1.4rem;
    --fs-3: 1rem;

}
.mdi.md-18 { font-size: 18px; }
.mdi.md-24 { font-size: 24px; } /* Default */
.mdi.md-36 { font-size: 36px; }
.mdi.md-48 { font-size: 48px; }

.user-icon-4{ width: 4em;}
.user-icon-5{ width: 5em;}

/*Layout*/
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    background-color:var(--clr-3);
    font-family: 'Roboto', sans-serif;

}
.sidebar{
    grid-row: 1/3;
    padding: 1.4em;
    display: flex;
    flex-direction: column;
    gap: 3em;
    background-color: var(--clr-1);
    color: var(--clr-3);
}
.header{
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1em;
}
.main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1em;
    padding: 2em;
    background-color: var(--clr-2);
}
.article{
    grid-row: 1/3;
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 2rem 1rem;
}
.heading{
    grid-column: 1/-1;
    font-size: var(--fs-2);
    margin-bottom: -1.5rem;

}
.announcements{
    display: flex;
    flex-direction: column;
    padding: 0;
    font-size: 1rem;
    
}
.announcement{
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    padding: 0;
}

.banner{
    flex-grow: 1;
    border-radius: 20px;
    padding: 2em;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    row-gap: 1em;
    background-color: white;
}

.user{
    display: flex;
    gap: 0.2em;
}
.trendings{
    display: flex;
    flex-direction: column;
}
.trending{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.top{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    row-gap: 1em;
    padding: 2em;
    background-color: white;
    border-radius: 20px;
}
/*Styling---*/
a{
    color: inherit;
    text-decoration: none;
}

/* Sidebar */
.mdi{
    margin: 0.4em;
}
.links{
    list-style-type: none;
    padding: 1em;
    font-weight: bold;
    font-family: inherit;
    color: var(--clr-3);
    font-size: var(--fs-3);
    text-transform: uppercase;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.links:hover{
    transform: scale(1.2);
  text-shadow: none;
}
/* header */
.brand{
    display: flex;
    gap: 0.75rem;
}
.search__input {
    width: 100%;
    padding: 12px 24px;
    
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-family: inherit;
    font-size: 14px;
    line-height: 18px;
    
    color: #575756;
    background-color: transparent;
/*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search__input::placeholder {
        color: rgba(87, 87, 86, 0.8);
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }

.search__input:hover,
    .search__input:focus {
        padding: 12px 0;
        outline: 0;
        border: 1px solid transparent;
        border-bottom: 1px solid #575756;
        border-radius: 0;
        background-position: 100% center;
    }
.user-info{
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
    font-weight: bold;
}
.mdi-bell-ring-outline{
    color: var(--clr-1);
}
.bell-icon:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

.btns{
    padding-top: 2em;
    text-align: center;
}
.button{
    display: inline-block;
    padding: 0.5em 1.7em;
    margin: 0 1em 0.1em 0;
    border: 0.16em solid rgba(255, 255, 255, 0);
    background-color: var(--clr-1);
    border-radius: 2em;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: var(--fs-3);
    font-weight: 300;
    color: #ffffff;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
}
.button:hover{
    border-color: var(--clr-4);
}
.welcome-msg{
    display: flex;
    gap: 0.75em;
}
/* Projects Area */
.card{
    border: 2px solid black;
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}
.color-bar{
    background-color: var(--clr-4);
    width: 10%;
    height: 100%;
}
.card-content{
    margin: 2em;
    position: relative;
}
.user-preference{
    position: absolute;
    bottom: 0;
    right: 0;
}
.announce-title, .card-title{
    font-weight: bold;
    font-size: 1.125rem;
}
/* Banners */

.action-item:not(:last-child){
    border-bottom: 1px solid gray;
}
.user-icons{
    padding: 0.5em;
    clip-path: circle();
    background-color: var(--clr-4);
}
